div{
    width:50%;
    
}
.opacityTest{
    
}
.first{
    background-color: rgba(255,0,0,0.4);
}
.second{
    background-color:rgba(0,255,0,0.6);
}
.gradient{
   
background: rgba(33,180,226,1);
background: -moz-linear-gradient(top, rgba(33,180,226,1) 0%, rgba(33,180,226,1) 30%, rgba(3,102,214,1) 91%, rgba(3,102,214,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(33,180,226,1)), color-stop(30%, rgba(33,180,226,1)), color-stop(91%, rgba(3,102,214,1)), color-stop(100%, rgba(3,102,214,1)));
background: -webkit-linear-gradient(top, rgba(33,180,226,1) 0%, rgba(33,180,226,1) 30%, rgba(3,102,214,1) 91%, rgba(3,102,214,1) 100%);
background: -o-linear-gradient(top, rgba(33,180,226,1) 0%, rgba(33,180,226,1) 30%, rgba(3,102,214,1) 91%, rgba(3,102,214,1) 100%);
background: -ms-linear-gradient(top, rgba(33,180,226,1) 0%, rgba(33,180,226,1) 30%, rgba(3,102,214,1) 91%, rgba(3,102,214,1) 100%);
background: linear-gradient(to bottom, rgba(33,180,226,1) 0%, rgba(33,180,226,1) 30%, rgba(3,102,214,1) 91%, rgba(3,102,214,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#21b4e2', endColorstr='#0366d6', GradientType=0 );


}
.image{
    background-image: url(../images/homemade-pumpkin-waffle-with-dark-chocolate-topping.jpg);
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
}
