.popup{
    width: 400px;
    height: 100px;
    background: beige;
    
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.3);
    justify-content: center;
    font-size: 50px;
    font-weight: 700;
    padding-top:20px;
    display: flex;
    border-radius: 15%;
    box-sizing: border-box;
}
.ellipse{
    width:180px;
    height: 100px;
    background-color: lime;
    border-radius: 70%;
}
.circle{
    width:100px;
    height: 100px;
    background-color: lime;
    border-radius: 50%;
}
.lime{
    width:100px;
    height: 100px;
    background-color: lime;
    border-radius: 0% 30% 0% 30%;
}