body{
    background-color: blue;
}
div{
    display:block;
    width: 100px;
    height: 50px;
    outline: 3px;
    outline-style: solid;
    outline-color: red;
}
#first-paragraph{
    color: green;
}
#second-paragraph{
    color:violet;
}