div{
    
width:500px;
    font-family: "Verdana, Arial, sans-serif";
}
h1{
    background-color: #ACC4CE;
    text-align: center;
    font-size: 20px;
    color: white;
    
    text-shadow: 2px 2px 5px #878787;
    font-family: "Verdana, Arial, sans-serif";
}
h2
{
    color: #395075;
    letter-spacing: 10px;
    font-style: italic;
}
p{
    color:grey;
    font-size:14px;
    line-height: 20px;
    padding-left: 20px;
    word-break: break-all;
    
}